.detalle p i {
    cursor: pointer;
}

.detalle .circle {
    cursor: pointer;
   
}


.fondo .in img:hover{
    position: relative;
    overflow:hidden;
    transform: scale(1.1, 1.1);
    transition: 1s all;
}

/*  Boton Gradiente */

 .detalle .btn-hovero {
    padding: 10px;
    border: none;
    width: 170px;
    
    border-radius: 0.5rem;
    cursor: pointer;
    color: #fff;
    background-size: 300% 100%;
    transition: all 0.4s ease-in-out;
  }
  
  .detalle .btn-hovero.rojito {
    box-shadow: 0 4px 20px 0 rgba(252, 104, 110, 0.75);
    background-image: linear-gradient(to 
    
    right,#FF8697,#CC555B, #CC555B,#FF8697);
  }
  
   .detalle .btn-hovero:hover {
    background-position: 100% 0;
  }
  